node_modules/
.next/
.env
.env.*
out/
*.log
dist/
coverage/
# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache/
.pytest_cache/
pip-wheel-metadata/

# Proprietary models - do not commit
frontend/public/model/**
!frontend/public/model/model_dict.json
backend/models/**
!backend/models/.gitkeep

backend/config/**
!backend/config/.gitkeep


backend/.venv/**
!backend/.venv/.gitkeep

